---
import { Mail, Phone, Map } from "@lucide/astro";
---

<section class="py-24 px-6 lg:px-20 bg-slate-50">
  <div class="max-w-7xl mx-auto">
    <div
      class="bg-white rounded-[2.5rem] overflow-hidden shadow-2xl border border-slate-100 flex flex-col lg:flex-row"
    >
      <div class="p-12 lg:w-2/5 bg-academic-charcoal text-white">
        <h3 class="text-4xl font-900 mb-8">Centro de Atención</h3>
        <div class="space-y-8">
          <div class="flex items-start gap-6">
            <div class="p-3 bg-primary rounded-xl text-white">
              <Phone />
            </div>
            <div>
              <p
                class="text-primary text-xs font-black uppercase tracking-widest mb-1"
              >
                Teléfono
              </p>
              <p class="text-xl font-bold">+52 871 642 0752</p>
            </div>
          </div>
          <div class="flex items-start gap-6">
            <div class="p-3 bg-primary rounded-xl text-white">
              <Mail />
            </div>
            <div>
              <p
                class="text-primary text-xs font-black uppercase tracking-widest mb-1"
              >
                Email
              </p>
              <p class="text-xl font-bold">contacto@secundaria10trc.edu.mx</p>
            </div>
          </div>
          <div class="flex items-start gap-6">
            <div class="p-3 bg-primary rounded-xl text-white">
              <Map />
            </div>
            <div>
              <p
                class="text-primary text-xs font-black uppercase tracking-widest mb-1"
              >
                Ubicación
              </p>
              <p class="text-slate-300">
                Av. Universidad S/N, Col. Sol de Oriente, Torreón, Coahuila. CP
                27000
              </p>
            </div>
          </div>
          <div class="pt-10">
            <p
              class="text-slate-500 text-sm uppercase font-black tracking-widest mb-4"
            >
              Horario de Oficina
            </p>
            <div class="flex justify-between border-b border-white/10 py-2">
              <span>Lunes - Viernes</span>
              <span class="font-bold">7:00 - 20:30</span>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-3/5 h-150 lg:h-auto relative bg-slate-200">
        <!-- Placeholder for Map -->
        <div
          class="absolute inset-0 flex items-center justify-center bg-slate-100"
        >
          <div class="text-center p-12">
            <h4 class="text-2xl font-900 text-academic-charcoal mb-2">
              Visítanos en Torreón
            </h4>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3599.6094069004002!2d-103.41503482354906!3d25.551384517261717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x868fdbaf1462d4e5%3A0x62e8723c4a16630c!2sSecundaria%20General%20No.%2010%2C%20%22Netzahualc%C3%B3yotl%22!5e0!3m2!1ses!2smx!4v1774033928613!5m2!1ses!2smx"
              width="600"
              height="450"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
