<section class="py-24 px-6 lg:px-20 bg-white" id="instalaciones">
    <div class="text-center max-w-3xl mx-auto mb-16 space-y-4">
      <h2 class="text-primary text-sm font-black uppercase tracking-[0.3em]">
        Infraestructura
      </h2>
      <h3 class="text-4xl lg:text-5xl font-900 text-academic-charcoal">
        Instalaciones de Primer Nivel
      </h3>
      <div class="w-20 h-1.5 bg-primary mx-auto rounded-full"></div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      <!-- Facility Item -->
      <div class="group relative h-[400px] overflow-hidden rounded-2xl">
        <img
          alt="Biblioteca"
          class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuAow3x5R20EQ71kEC6WtZriuB1OQwYgxpLUYEkTQDghx2sA6U338-Rnvu2xt_i-_umk051gnSH5jff8ENTlA96z2qPIM9sWDxLHbkGWWJQpA360XIFD1n2OkrtkJk9UC9lU3rIxiOpoIY6WcfHx6YAdizYLE3dH29E8IqoNmdn9UDBlMIeLJt63YU97waJlv8IQbiuJ9vWM4h1coBXaRfoy_LoWTGzpITLzUuvwhrSLHMkmCRXPZYS3nUBdGncV6eYiLlU4cdDw-gWn"
        />
        <div
          class="absolute inset-0 bg-gradient-to-t from-academic-charcoal via-transparent to-transparent opacity-90"
        >
        </div>
        <div
          class="absolute bottom-0 p-8 w-full transform transition-transform duration-500 translate-y-2 group-hover:translate-y-0"
        >
          <span
            class="text-primary text-xs font-black uppercase tracking-widest mb-2 block"
            >Cultura</span
          >
          <h4 class="text-white text-2xl font-800">Biblioteca Central</h4>
          <p
            class="text-white/60 text-sm mt-4 opacity-0 group-hover:opacity-100 transition-opacity"
          >
            Acervo actualizado y áreas de estudio silencioso.
          </p>
        </div>
      </div>
      <div class="group relative h-[400px] overflow-hidden rounded-2xl">
        <img
          alt="Laboratorio"
          class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuBtALHbn5y7a_oqM3r2DGxhy-eTDS2ggMSnYs81te33pwIWyPggPQtHwNNvpd1PfSCJxtFybMBL03bIfKZOPZH2VtOaisUZ5Oud4QdvQQKbv5VdMDoGgQwBmvGlQ3DpCVqAGVEZoBBrrds7JxogvW-Tb38BZbFkIrsoxR2ztAYJhTLmhcJj-0mmT_tYDYRZLFJCMI0yFlXvd_w0twQVH534IMMIMp7JO9dWfT1UwLMa_s_Acsos-EjJ0MoHTmzJ5Mgo7LMRh42WKNbh"
        />
        <div
          class="absolute inset-0 bg-gradient-to-t from-academic-charcoal via-transparent to-transparent opacity-90"
        >
        </div>
        <div
          class="absolute bottom-0 p-8 w-full transform transition-transform duration-500 translate-y-2 group-hover:translate-y-0"
        >
          <span
            class="text-primary text-xs font-black uppercase tracking-widest mb-2 block"
            >Ciencia</span
          >
          <h4 class="text-white text-2xl font-800">Laboratorios</h4>
          <p
            class="text-white/60 text-sm mt-4 opacity-0 group-hover:opacity-100 transition-opacity"
          >
            Espacios equipados para física, química y biología.
          </p>
        </div>
      </div>
      <div class="group relative h-[400px] overflow-hidden rounded-2xl">
        <img
          alt="Deportes"
          class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuCJWBEPK8pqqzCMX-lXqqMvnfvNs9MT1fg4jdaq9ZiSLYINV7QJ0VBlhOHpIXTY96n3UYr3trcVg4z-LbKnIMa5gALZDY52eCZqvLN7qsIgFzTTxZt68u8lxAw4Offd0Y9p6SMQMKwvFFLki1UGBq-pJSnBtqUHEb_cg9YZaFSghjE6NyvJcCU_RefHXnzN85aUZh3h6C64O6OGu5ungTZbSB1ZNHwpDpw6AUr71m2NazCxkG3KDVZ0Lhflr04JlIB1QLX-sLur4qZe"
        />
        <div
          class="absolute inset-0 bg-gradient-to-t from-academic-charcoal via-transparent to-transparent opacity-90"
        >
        </div>
        <div
          class="absolute bottom-0 p-8 w-full transform transition-transform duration-500 translate-y-2 group-hover:translate-y-0"
        >
          <span
            class="text-primary text-xs font-black uppercase tracking-widest mb-2 block"
            >Salud</span
          >
          <h4 class="text-white text-2xl font-800">Canchas Deportivas</h4>
          <p
            class="text-white/60 text-sm mt-4 opacity-0 group-hover:opacity-100 transition-opacity"
          >
            Multicanchas techadas y áreas de recreación.
          </p>
        </div>
      </div>
      <div class="group relative h-[400px] overflow-hidden rounded-2xl">
        <img
          alt="Aulas"
          class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuD9c_HR4YGrpmJCrF1sshl1D--ghChS3NZqLf45iB394x9VMOP9f2VFJ6B3ZIAo4O6znFUhpotZJyfWmQhHuz9NePHDSQTEeVEFxRv3soVfRBTmhZt5miC0ca3QWHCLm441b3cuKUuh-Sjb1vE88spnzLjhfXSHH5C0Kck84Kebh0IAcbYgPP0wycwjBdLF6M9UQa3aoIOglny5AruXs-VoWN56cRuhkw7TdTwu-0fBrQQqYzmYC9THouu00RkoLs1LL5XiYPVtwKFE"
        />
        <div
          class="absolute inset-0 bg-gradient-to-t from-academic-charcoal via-transparent to-transparent opacity-90"
        >
        </div>
        <div
          class="absolute bottom-0 p-8 w-full transform transition-transform duration-500 translate-y-2 group-hover:translate-y-0"
        >
          <span
            class="text-primary text-xs font-black uppercase tracking-widest mb-2 block"
            >Tecnología</span
          >
          <h4 class="text-white text-2xl font-800">Aulas Digitales</h4>
          <p
            class="text-white/60 text-sm mt-4 opacity-0 group-hover:opacity-100 transition-opacity"
          >
            Salones climatizados con soporte multimedia.
          </p>
        </div>
      </div>
    </div>
</section>
